build/
out/
target/
.idea/
*.impl
.*
.gradle/
**/.gradle/
../touch-rest-api-tests/
../Web_touch_automation/
debug.log
tests.log
*.iml
mc2/src/test/resources/*.properties
/touch/src/test/resources/mediasupport/renamed/*
