<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite of Suites" preserve-order="true">
    <suite-files>
        <suite-file path="tie.xml"/>
        <suite-file path="mastercheck.xml"/>
        <suite-file path="uitests.xml"/>
    </suite-files>
</suite>